<!DOCTYPE html>
<html>
<head>
	<title>account</title>
    <link rel="stylesheet" type="text/css" href="create.css">

</head>
<body>
	<div id ="continer">
		<div id="header">
			<img class="logo" src="logo.png" alt="logo" height="75px" width="100px">
			<h1>Create your Google Account</h1>
			<p class="gmail">to continue to Gmail</p>
		</div>
    
		<div class="content">
			<div class="box1">
			<form> 
				<input  type="text" id="fname" name= "First Name"  placeholder="First Name">		
				<input  type="text" id="lname" name= "Last Name"  placeholder="Last Name" ><br/>
				<input  type="text" id="email" name= "Email" @gmail.com  placeholder="Email" >
			

			 @gmail.com
			<p class="box1-text">You can use letters, numbers & periods</p>
			
			<input class="pwd" type="password" id="pwd" name="Password" placeholder="Password">
			

			
			<input class="cpwd" type="password" id="cpwd" name="Confirm Password" placeholder="Confirm Password">
			<p class="box1-text">Use 8 or more characters with a mix of letters, numbers & symbols.</p>

			</form>
			</div>

		</div>
		<div class="account">
			<img class="account" src="account.svg" alt="account">
<!-- 			<p class= "account">One account. All of Google working for you.</p>
 -->
		</div>
		<div class="footer content">
			<button class="signininstead" id="signininstead" type="button">Sign in instead</button>
			<button class="next" id="next" type="button">Next</button>
		
		</div>
	</div>
	<script>
		let a=document.getElementById("fname").value;
		let b=document.getElementById("lname").value;
		let c=document.getElementById("email").value;
		let d=document.getElementById("pwd").value;
		let e=document.getElementById("cpwd").value;
          console.log(a);
	</script>
</body>
</html> 






<!-- 



<!DOCTYPE html>
<html>
<head>
	<title>account</title>
    <link rel="stylesheet" type="text/css" href="create.css">

</head>
<body>
	<div id ="continer">
		<div id="header">
			<img class="logo" src="logo.png" alt="logo" height="75px" width="100px">
			<h1>Create your Google Account</h1>
			<p class="gmail">to continue to Gmail</p>
		</div>

		<div id="content">
			<input type="fname" name= "First Name"  placeholder="First Name">
			<input class="lname" name= "Last Name"  placeholder="Last Name" ><br/>
			<input class=" user" type="email" name= "Email" @gmail.com  placeholder="Email" >
			<p class="com"> @gmail.com</p>
			<p class="you">You can use letters, numbers & periods</p>
			<input type="password" name="Password" placeholder="Password">
			<input type="password" name="Confirm Password" placeholder="Confirm Password">
			<p class="use">Use 8 or more characters with a mix of letters, numbers & symbols.</p>

		</div>

		<div id="footer">
			<button class="signininstead" type="button">Sign in instead</button>
			<button class="next" type="button">Next</button>
		
		</div>
	</div>
<!-- 	<script>
		let a=document.getElementById("email").value;
          console.log(a);
	</script> -->
<!-- </body>
</html> -->

